@import url('https://fonts.googleapis.com/css2? family=Marck+Script&family=Montserrat:wght@400;600&family=Playball&family==Tangerine:wght@700&display=swap" rel="stylesheet">');

:root{
    --padding-container: 100px 0;
    --color-title: #161616;
    --color-plan: #050505fb;
    --color-price: #142d1f;
    --bg-cta: #ffffffcf;
    --color-cta:#0b532d;
    --color-items: #282928;
}

body{
    font-family: 'Marck Script', cursiva;
    background-image: url('../img/fondo-madera-blanco-abstracto_7182-2193.webp');
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: white;
}

.container{
    display: grid;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/R.jpg');
    background: cover;
    background-repeat: round;
    z-index: -1;
}

.nav{
    --padding-container: 0;
    height: 100px;
    display: flex;
    align-items: center;
}

.nav__title h2{
    font-family: 'Marck Script 400', cursiva;
    height: 3em;
    font-weight: 900;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    cursor: pointer;
}

.nav__items{
    list-style: none;
}

.nav__links{
    color: #fff;
    text-decoration: none;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img{
    display: block;
    width: 30px;

}

.nav__close{
    display: var(--show, none);
}
/*hero container*/

.hero__container{
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title{
    font-size: 2.5rem;
}

.hero__paragraph{
    margin-bottom: 20px;
    font-size: 1.5em;
}

.cta{
    display: grid;
    text-transform: capitalize;
    background-color: #33a669;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
    transition: all .3s ease-in-out;
}

.cta:hover{
    color: #33a669;
    background-color: #fff;
}
/*about*/

.about{
    text-align: center;
}
.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragrah{
    line-height: 1.7;
}

.about__main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));

}

.about__icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon{
    width: 40px;
}

/* knowledge */

.knowledge{
    background-color: #cfbec7;
    /*background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);*/
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow: hidden;
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledege__texts{
    display: grid;
}

.knowledge__picture{
    max-width: 500px;
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img{
    width: 100%;
    display: block;
}

.price{
    text-align: center;
}
.price__table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.price__element{
    background-color: #80958a;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
}

.price__name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.plan__price{
    font-size: 2.5rem;
    color: var(--color-price);
}

.price__items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items)
}

.price__cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}
.testimony{
    background-color: #cfbec7;
}

.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__texts{
    max-width: 700px;
}

.testimony__course{
    background-color: #33a669;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.testimony__arrow{
    width: 90%;
    cursor: pointer;
}

/*services*/

.services{
    text-align: center;
}

.services__container{
    display: grid;
    gap: 1.5em;
    padding-top: 50px;
    padding-bottom: 80px;
}
.services__padding{
    padding: 0;
    border-radius: 6px;
    background-color: #bb9e92d5;
}

.services__padding--add{
    padding-bottom: 30px;
}

.services__service{
    padding: 0 30px 0;
}

.services__title{
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 25px 0 25px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}
